/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(224, 202, 202);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo\ pagina\ web.jpg");
    background-repeat: no-repeat;

}
.titulo{
    font-size: 60px;
    color: rgb(189, 182, 238);
    text-align: center;
}
.imagen{
    height: 320px;
    width: 400px;
    background-image: url("imagen 1.png");
    background-repeat: no-repeat;
}