.contenedor{

width: 300%;
height: 1200px;
background-color: rgb(121, 1, 1);
display:inline;
flex-direction: column;

.encabezado{
width:100% ;
height: 200px;
background-color: rgb(141, 4, 4);
font-size: 100px
}

.sociales{
    width:100% ;
    height: 600px ;
    height: 5000px;
    background-color: rgb(160, 4, 11);
    font-size: 30px;
}
.ingles{
    width:100% ;
    height: 7000px;px;
    font-size: 30px;
  background-color: rgb(190, 57, 57);

}
.tecnologia{
    width:100% ;
    height: 8000px;
background-color: rgb(100, 11, 11);

font-size: 30px;
  }
.titulo {
font: size 70px;
color: black;

}